{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        http-kit {:mvn/version "2.8.0"}
        hiccup {:mvn/version "2.0.0-RC1"}
        org.xerial/sqlite-jdbc {:mvn/version "3.44.0.0"}
        clojure.jdbc/clojure.jdbc {:mvn/version "0.7.12"}}}